body {
  background-color: #444;
  background-image: url(33557740336190de7377e763668cc4dd.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19B3E6;
  color: #fff;
  font-size: 1.8em; }

